.Header {
  padding: 21px 74px 21px 128px;
  background: #1A1A1A;
  display: flex;

  &__logo {
    width: 194px;
    height: 58px;
    background-image: url('../../assets/logo.png');
    background-size: cover;
    background-position: center;
  }

  &__info {
    margin-left: auto;
    display: flex;
    gap: 50px;
    align-items: center;
    color: #fff;
  }

  &__numbers {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
  }

  &__call {
    padding: 14px 8px;
    border-radius: 10px;
    background: linear-gradient(90deg, #E52D27 0%, #B31217 100%);
    outline: none;
    border: none;
    font-size: 19px;
    line-height: 28px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    transition: opacity .3s ease;

    &:hover {
      opacity: .9;
    }
  }

  &__menu-toggle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    transition: opacity .3s ease;


    & > span {
      display: block;
      width: 36px;
      height: 6px;
      background: #fff;
    }

    &:hover {
      opacity: .9;
    }
  }
}